.elearning-img {
    width: 600px;
    height: 803px;
}

.elearning-color {
    background-color: #F4FAFD;
    width: 600px;
    height: 803px;
}

.bg-color-change {
    width: 1320px;
    height: 300px;
    background-color: #289BDE;
    ;
}