.elearning-img {
    width: 600px;
    height: 803px;
}

.elearning-color {
    background-color: #F4FAFD;
    width: 600px;
    height: 803px;
}

.bg-color-change {
    width: 1320px;
    height: 300px;
    background-color: #289BDE;
    ;
}

.fa-star {

    color: gold;
}

.acordion-item-width {
    width: 75%;
}

.footer-size {
    width: 100%;
    height: 476px;
}

.fa-github,
.fa-linkedin,
.fa-instagram,
.fa-facebook {
    font-size: 2rem;
    padding: 1rem;
}